.journal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.journal-header {
  font-size: 1.5em;
  color: var(--b5);
  flex: 0 0 48px;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
}

.journal-window {
  display: flex;
  flex-flow: row warp;
  padding: 0 10px;
}

.journalEntry-container {
  min-width: 300px;
  max-width: 500px;
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
}



.journalEntry-header {
  display: flex;
  padding: 5px 10px;
  background: var(--b5);
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.journalEntry-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.journalEntry-area {
  overflow: auto;
  padding: 5px;
  flex: 1;
  width: 500px;
  border: 1px solid #EEEEEE;
  box-shadow: 1px 1px 0 #DDDDDD;
  display: block;
  font-size: 22px;
  line-height: 50px;
  margin: 2% auto;
  padding: 11px 20px 0 70px;
  resize: none;
  height: 500px;
  background-image: -moz-linear-gradient(top , transparent, transparent 49px,var(--b1) 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -moz-radial-gradient(3.9% 46% , circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%);
  background-image: -webkit-linear-gradient(top , transparent, transparent 49px,var(--b1) 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 43.5%, transparent 0%);
  -webkit-background-size:  100% 50px;
  background-size: 100% 50px;
  background-attachment: local;
}

.journal-submit-section {
  margin: 20px 0 10px 0;
}

.journal-submit-btn {
  background: linear-gradient(var(--b2), var(--b3));
  color: white;
}

.journal-submit-btn:hover {
  background: linear-gradient(var(--b3), var(--b4));
}

.journal-submit-btn:focus:active {
  box-shadow: none !important;
}
