.journal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          overflow-y: scroll;
  height: 100%;
}

.journal-header {
  font-size: 1.5em;
  color: var(--b5);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 20px;
}

.journal-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row warp;
          flex-flow: row warp;
  padding: 0 10px;
}

.journalEntry-container {
  min-width: 300px;
  max-width: 500px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media(max-width: 575px) {
  .journalEntry-container {
    width: 100%;
  }
}


.journalEntry-header {
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  flex: 0 0 auto;
  padding: 5px 10px;
  background: var(--b5);
  color: white;
  margin-bottom: 5px;

}


.journalEntry-header-left {


  left: 0;
}

.journalEntry-header-center {
  justify-content: center;
}

.journalEntry-header-right {
  position: absolute;
  right: 0;
}

.journalEntry-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.journalEntry-area {
  overflow: auto;
  padding: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 1px 1px 0 #DDDDDD;
          box-shadow: 1px 1px 0 #DDDDDD;
  display: flex;
  font-size: 22px;
  line-height: 50px;
  height: 350px;
  max-height: 500px;
  padding: 11px 20px 0 70px;
  height: available;
  resize: none;
  background-image: -webkit-linear-gradient(top , transparent, transparent 49px,var(--b1) 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 43.5%, transparent 0%);
  background-size: 100% 50px;
  background-attachment: local;
}



.journal-submit-section {
  margin: 20px 0 10px 0;
  justify-content: space-around;
}

.journal-submit-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--b2)), to(var(--b3)));
  background: -webkit-linear-gradient(var(--b2), var(--b3));
  background: -o-linear-gradient(var(--b2), var(--b3));
  background: linear-gradient(var(--b2), var(--b3));
  color: white;
}

.journal-submit-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--b3)), to(var(--b4)));
  background: -webkit-linear-gradient(var(--b3), var(--b4));
  background: -o-linear-gradient(var(--b3), var(--b4));
  background: linear-gradient(var(--b3), var(--b4));
}

.journal-submit-btn:focus:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
