.form-wrapper {
  background-color: #fff;
  padding: 10px;
  min-width: 400px;
  font-size: 1rem;
  cursor: default;
}

.form-wrapper form {
  padding: 20px 40px 0 40px;
}

.form-header {
  font-size: 1.4em;
  color: var(--b5);
}

.form-header button {
  color: var(--b3);
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
}

.form-label {
  font-size: 1.1em;
  color: #777;
  margin: 0 10px 0 0;
}

.form-group .rating-wrapper {
  flex: 1;
  justify-content: flex-end;
}

.form-multiselect {
  display: inline-block;
  margin-bottom: 20px;
}

.form-submit-section {
  margin: 20px 0 10px 0;
}

.form-submit-btn {
  background: linear-gradient(var(--b2), var(--b3));
  color: white;
}

.form-submit-btn:hover {
  background: linear-gradient(var(--b3), var(--b4));
}

.form-submit-btn:focus:active {
  box-shadow: none !important;
}
.form-select {
  font-size: 16px;
  display: inline-block;
  color: var(--b5);
}
.mdi {
  text-align: center;
  display: block;
  font-size: 34px;
}
.camera-options{
  text-align: left;
}
.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 400px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}
img{
    max-width: 100%;
    max-height: 100%;
}



